
<div class="layout-main">

<div class="profilePage"></div>
<div class="layout-content">
 <div class="row gutter-xs" *ngIf="User">
    <div class="profile-box">
        <div class="card text-center">
          <!-- <div class="card-image">
            <div class="overlay">
              <div class="overlay-gradient"> 
                <img style="width: 100%;height: 400px;" class="card-img-top img-responsive" alt="Instagram App">
              </div>
            </div>
          </div> -->
          <div class="card-avatar">
            <a class="card-thumbnail rounded sq-100">
              <img class="img-responsive" style="width: 100%;" [src]="User.profileImage">
            </a>
          </div>
          <div class="card-body">
            <h3 class="card-title">{{User.name | uppercase}}</h3>
            <p class="card-text">
              <span class="app-users">
               <span class="icon icon-envelope"></span>
               <strong>Email</strong>: {{User.email}}
              </span>
            </p>
            <p class="card-text">
              <span class="app-users">
               <span class="icon icon-phone"></span>
               <strong>Phone</strong>: {{User.mobileNumber}}
              </span>
            </p>
            <div class="col-md-12 text-center">
                <button class="btn btn-primary btn-sm mr-5" type="button" (click)="logout()">Logout</button>  
           </div>
          </div>
        </div>
      </div>
 </div>
</div>

</div>